/* General Styles */
body {
  background-color: #000;
  color: #00ff00;
  font-family: 'Menlo', 'Consolas', monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navbar Styles */
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222; /* Lightened dark grey */
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.nav-left .prompt {
  font-size: 1.2em;
}

.nav-right {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1; /* Allows right content to move left if needed */
  margin-left: 120px;
}

.nav-right a {
  margin-left: 15px;
  font-size: 1em;
  transition: color 0.3s ease;
}

.nav-right a:hover {
  color: #39FF14;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 220px;
 background-color: #222; /* Lightened dark grey */
  padding: 20px;
  height: calc(100% - 70px);
  box-shadow: 2px 0 5px rgba(0,0,0,0.5);
  overflow-y: auto;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #00ff00;
  margin-bottom: 15px;
}

.profile h2 {
  margin: 10px 0 5px;
  font-size: 1.5em;
}

.profile p {
  font-size: 1em;
  color: #39FF14;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 20px 0 0;
}

.social-links li {
  margin: 15px 0;
}

.social-links a {
  display: flex;
  align-items: center;
  font-size: 1.1em;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #39FF14;
}

.social-links i {
  margin-right: 10px;
  font-size: 1.5em;
}

/* Main Content Styles */
main {
  margin: 100px 20px 20px 260px; /* Adjust margins considering navbar and sidebar */
  padding: 20px;
}

section {
  margin-bottom: 50px;
}

section h1, section h2, section h3 {
  color: #8A2BE2;
  margin-bottom: 20px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Blinking Cursor */
.cursor {
  display: inline-block;
  width: 10px;
  background-color: #00ff00;
  margin-left: 5px;
}

